{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post" id="loginform">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <p>
    <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" class="input" size="20" tabindex="10" />
    </p>
    <p>
    <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
    <input type="password" id="password" name="_password" class="input" value="" size="20" tabindex="20" />
    </p>
    <p class="forgetmenot">
     <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" tabindex="90" /></label>
    </p>
   
    <p class="submit">
    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" class="button-primary" tabindex="100" />
    </p>
</form>

{% endblock fos_user_content %}
